* {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: normal;
}



/*----------------- 
   General styles
-------------------*/
.page {
    position: relative;
    width: 310mm;
    margin: 0 auto;
    margin-bottom: 50px;

    /* position: relative;
    width: 210mm;
    height: 297mm;
    padding: 1.5cm 1cm 1cm 1cm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); */
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: end;
}

.items-streach {
    align-items: stretch;
}

.grow {
    flex-grow: 1;
}

.font-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.mb-5 {
    margin-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px-2 {
    padding-left: 8px;
    padding-right: 8px;
}

.pb-1 {
    padding-bottom: 4px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-3 {
    padding-bottom: 12px;
}

.pb-4 {
    padding-bottom: 12px;
}

.pb-5 {
    padding-bottom: 20px;
}

.pb-6 {
    padding-bottom: 24px;
}

.pb-7 {
    padding-bottom: 28px;
}

.pe-3 {
    padding-right: 12px;
}

.pe-4 {
    padding-right: 16px;
}

.pe-5 {
    padding-right: 20px;
}

.ps-5 {
    padding-left: 20px;
}


.gap-3 {
    gap: 12px;
}

.p-2 {
    padding: 8px;
}

.p-3 {
    padding: 12px;
}

.p-4 {
    padding: 16px;
}

.p-5 {
    padding: 20px;
}

.mb-5 {
    margin-bottom: 20px !important;
}

.text-sm {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
}

.text-base {
    font-size: 16px;
}

.w-full {
    width: 100%;
}

.text-primary {
    color: #1c4ca0;
}

.border-b {
    border-bottom: 1px solid #9c9d9f;
}

ul,
ol {
    padding: 0;
}

ul li,
ol li,
p {
    margin-bottom: 15px;
}

ul li,
ol li {
    list-style: none;
}

.decoration-none {
    text-decoration: none;
}

.border-black {
    border: 1px solid black;
}

.border-collapse {
    border-collapse: collapse;
}

.custom-li {
    position: relative;
    padding-left: 20px;
}

.custom-li::before {
    content: "–";
    margin-right: 0.5rem;
    display: inline-block;
    position: absolute;
    left: 0;
}

.lettered-list {
    list-style-type: none;
    counter-reset: alpha-counter;
    /* Initialize the alpha counter */
}

.lettered-list>li {
    counter-increment: alpha-counter;
    padding-left: 30px;
    position: relative;
}

.lettered-list>li::before {
    content: counter(alpha-counter, lower-alpha) ") ";
    /* Display the alpha counter (a, b, c...) */
    position: absolute;
    left: 0;
}

.double-lettered-list {
    counter-reset: custom-aa;
    list-style: none;
}

.double-lettered-list li {
    counter-increment: custom-aa;
    position: relative;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
}

.double-lettered-list li::before {
    content: counter(custom-aa, lower-alpha) counter(custom-aa, lower-alpha) ") ";
    position: absolute;
    left: 0;
}

/* Counter for nested numbered list (1, 2, 3, ...) */
.numbered-list {
    list-style-type: none;
    counter-reset: num-counter;
    /* Initialize the number counter */
}

.numbered-list>li {
    counter-increment: num-counter;
    /* Increment number counter for each <li> */
}

.numbered-list>li::before {
    content: counter(num-counter) ". ";
    /* Display the number counter (1, 2, 3...) */
}

/* Reset the counter for the nested list inside .lettered-list */
.lettered-list>li>.numbered-list {
    counter-reset: num-counter 0;
    /* Reset the number counter to start from 3 */
}



.dot-list {
    list-style-type: disc;
    margin-top: 0.5rem;
}

.dot-list li {
    list-style-type: disc;
}

/*----------------
    Page 1 Start
-----------------*/
.iec-logo img {
    height: 80px;
}

.iec-logo span {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: -4px;
}

.standard-code {
    text-align: right;
    font-size: 33px;
    color: #9C9D9F;
    font-weight: bold;
    border-bottom: 1px solid #9c9d9f;
}

.book-title {
    color: #1c4ca0;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0 100px 40px;
}

.color-inside {
    color: #9C9D9F;
    padding-bottom: 10px;
}

.color-inside img {
    height: 32px;
    padding-right: 5px;
}

.title-block {
    border-top: 1px solid #9c9d9f;
    padding: 30px 0 110px 0px;
    margin: 0 40px;
    color: #1c4ca0;
}

.medical-xray {
    background: #e7e7e8;
    padding-top: 100px;

    margin-top: 5px;
}

.medical-xray-2 {
    padding-top: 100px;
    margin-top: 5px;
}

.title-block-2 {
    border-top: 1px solid #9c9d9f;
    padding: 30px 0 310px 0px;
    color: #1c4ca0;
}

.medical-xray img {
    margin-bottom: -4px;
}


/*----------------
    Page 2 Start
-----------------*/
.copyright-box {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

.iec-icon {
    height: 70px;
}

.iec-title {
    margin-bottom: 6px;
    font-size: 1.2rem;
}

.iec-contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.iec-contact-info,
.iec-address {
    width: 48%;
}

.iec-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border-bottom: 1px solid black;
}

.iec-col {
    flex: 1 1 45%;
}

.iec-text {
    margin: 5px 0 15px;
}

.iec-link {
    text-decoration: none;
}

.iec-link:hover {
    text-decoration: underline;
}

.international-comission {
    margin-bottom: 50px;
}

.international-comission p {
    padding-bottom: 40px;
}

.warning p:first-child {
    border: 1px solid black;
    margin-bottom: 40px;
}


/*----------------
    Page 4 Start
-----------------*/
.table-of-contents a {
    text-decoration: none;
    color: #000;
}

.table-of-contents ul {
    list-style: none;
    padding: 0;
}

.foreword li {
    padding-bottom: 12px;
}

/* TOC Styles */
.toc {
    list-style: none;
    padding-left: 0;
    counter-reset: item;
}

.toc li {
    counter-increment: item;
    position: relative;
    padding-left: 80px;
    margin-bottom: 12px;
}

.toc li::before {
    position: absolute;
    left: 0;
}

.toc a {
    text-decoration: none;
    color: black;
}

.toc a:hover {
    text-decoration: underline;
}

/* Section 201 */
.toc-201 {
    counter-reset: item 0;
}

.toc-201 li::before {
    content: "201." counter(item) " ";
}

/* Section 202 */
.toc-202 {
    counter-reset: item 1;
}

.toc-202 li:first-child::before {
    content: "202 ";
}

.toc-202 li:last-child::before {
    content: "202.101 ";
}

.toc-203 li:first-child::before {
    content: "203 ";
}

/* Section 203 (starts from 203.4) */
.toc-203 {
    counter-reset: item 2;
}

.toc-203 li::before {
    content: "203." counter(item) " ";
}

.annexes li,
.figure li,
.table li {
    padding-bottom: 12px;
}

.annexes li a,
.figure li a,
.table li a {
    text-decoration: none;
    color: black;
}

.annexes li a:hover,
.figure li a:hover,
.table li a:hover {
    text-decoration: underline;
}

/*----------------
    Page 6 Start
-----------------*/
.foreword-heading p:first-child {
    margin-bottom: 40px;
}

.foreword-heading p:last-child span {
    display: inline-block;
    margin-bottom: 15px;
}

.foreword-list {
    counter-reset: foreword-counter;
    margin-top: 2rem;
}

.foreword-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 2rem;
}

.foreword-item::before {
    counter-increment: foreword-counter;
    content: counter(foreword-counter) ")";
    position: absolute;
    left: 0;
    font-weight: bold;
}

/*----------------
    Page 7 Start
-----------------*/
.foreword-table {
    width: 60%;
    border-collapse: collapse;
    margin: 2rem auto;
}

.foreword-table table,
.foreword-table th,
.foreword-table td {
    border: 1px solid black;
}

.foreword-table th,
.foreword-table td {
    padding: 0.5rem;
    text-align: center;
}

/*----------------
    Page 8 Start
-----------------*/
.important-note {
    border: 1px solid black;
}

/*----------------
    Page 10 Start
-----------------*/
.important-note {
    border: 1px solid black;
}

/*----------------
    Page 16 Start
-----------------*/
.potential {
    width: 50%;
    margin: 0 auto;
}

/*----------------
    Page 17 Start
-----------------*/
.custom-list {
    counter-reset: item;
    list-style: none;
}

.custom-list li {
    counter-increment: item;
    margin-bottom: 1rem;
    /* spacing between items */
    position: relative;
    padding-left: 1.5rem;
    /* spacing before the text */
}

.custom-list li::before {
    content: counter(item, lower-alpha) ") ";
    position: absolute;
    left: 0;
    font-weight: bold;
}

/*----------------
    Page 36 Start
-----------------*/
.linearity img {
    max-width: 300px;
}


/*----------------
    Page 37 Start
-----------------*/
table.test-settings {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 40px;
}

table.test-settings th,
table.test-settings td {
    border: 1px solid #000;
    padding: 8px;
    vertical-align: middle;
}

table.test-settings thead th {
    font-weight: bold;
}

tfoot .footnote {
    text-align: left;
    font-size: 0.9em;
    padding: 10px;
}

/* Base alpha counter */
.alpha-counter {
    counter-reset: alpha-counter;
    list-style: none;
}

.alpha-counter>li {
    counter-increment: alpha-counter;
    position: relative;
    padding-left: 1.5rem;
}

.alpha-counter>li::before {
    content: counter(alpha-counter, lower-alpha) ') ';
    position: absolute;
    left: 0;
}

/* Start alpha counter from "b" */
.alpha-counter-start-b {
    counter-reset: alpha-counter 1;
}


.roman-counter {
    counter-reset: roman-counter;
    list-style: none;
    padding-left: 1.5rem;
}

.roman-counter>li {
    counter-increment: roman-counter;
    position: relative;
    padding-left: 1.5rem;
}

.roman-counter>li::before {
    content: counter(roman-counter, lower-roman) ") ";
    position: absolute;
    left: 0;
}

.roman-start-i {
    counter-reset: roman-counter 0;
    /* 8 = i (9th Roman numeral) */
}

/* Numeric counter */
.num-counter {
    counter-reset: num-counter;
    list-style: none;
}

.num-counter>li {
    counter-increment: num-counter;
    position: relative;
    padding-left: 1.5rem;
}

.num-counter>li::before {
    content: counter(num-counter) ') ';
    position: absolute;
    left: 0;
}

/* Dotted list */
.dot-counter {
    list-style-type: disc;
    padding-left: 1.5rem;
}

table.phantom-settings {
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #000;
    margin: 0 auto;
}

table.phantom-settings th,
table.phantom-settings td {
    border: 1px solid #000;
    padding: 8px;
    vertical-align: middle;
}

table.phantom-settings thead th {
    font-weight: bold;
}

table.phantom-settings .footnote {
    text-align: left;
    font-size: 0.9em;
    padding: 10px;
}

/*----------------
    Page 39 Start
-----------------*/
table.aluminium-settings {
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #000;
    margin: 30px auto 0 auto;
}

table.aluminium-settings th,
table.aluminium-settings td {
    border: 1px solid #000;
    padding: 8px;
    vertical-align: middle;
}

table.aluminium-settings thead th {
    font-weight: bold;
}

table.aluminium-settings .footnote {
    text-align: left;
    font-size: 0.9em;
    padding: 10px;
}

.green {
    color: green;
}


/*----------------
    Page 48 Start
-----------------*/
.extra-focal img {
    max-width: 500px;
    margin-bottom: 30px;
}

/*----------------
    Page 49 Start
-----------------*/

.effective-image img {
    max-width: 250px;
    margin-top: 50px;
}

/*----------------
    Page 50 Start
-----------------*/

.discrepancies img {
    max-width: 500px;
    margin: 30px auto;
}

/*----------------
    Page 53 Start
-----------------*/
.field-indicator img {
    max-width: 160px;
    margin-top: 30px;
}

/*----------------
    Page 56 Start
-----------------*/
table.attenuation-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: sans-serif;
    border: 1px solid #000;
    margin-bottom: 30px;
}

table.attenuation-table th,
table.attenuation-table td {
    border: 1px solid #000;
    padding: 10px;
    vertical-align: top;
}

table.attenuation-table thead th {
    text-align: center;
    font-weight: bold;
}

table.attenuation-table tfoot .note {
    font-size: 0.9em;
    padding: 10px;
    border: 1px solid #000;
}

/*----------------
    Page 57 Start
-----------------*/
.application-category-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    font-size: 14px;
    text-align: left;
    border: 1px solid #000;
}

.application-category-table th,
.application-category-table td {
    border: 1px solid #000;
    padding: 10px;
    vertical-align: top;
}

.application-category-table thead {
    font-weight: bold;
}

/*----------------
    Page 58 Start
-----------------*/
.compliance-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 30px auto;
    font-size: 14px;
    text-align: left;
    border: 1px solid #000;
}

.compliance-table th,
.compliance-table td {
    border: 1px solid #000;
    padding: 10px;
    vertical-align: top;
}

.compliance-table thead {
    font-weight: bold;
}

.compliance-table .footnotes {
    text-align: left;
    font-size: 13px;
    padding: 15px;
}

.compliance-table .footnotes p {
    margin: 5px 0;
}


/*----------------
    Page 59 Start
-----------------*/
.stray-radiation-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    border: 1px solid #000;
    text-align: left;
}

.stray-radiation-table th,
.stray-radiation-table td {
    border: 1px solid #000;
    padding: 10px;
    vertical-align: top;
}

.stray-radiation-table thead th {
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}

/*----------------
    Page 60 Start
-----------------*/
.lettered-list-b {
    list-style-type: lower-alpha;
    counter-reset: list-b 1;
    padding-left: 1.5em;
}

.lettered-list-b>li {
    counter-increment: list-b;
}

.lettered-list-b>li::before {
    content: counter(list-b, lower-alpha) ") ";
    position: absolute;
    margin-left: -1.5em;
}

/*----------------
    Page 61 Start
-----------------*/
.beam-horizontal img {
    max-width: 400px;
    margin-bottom: 20px;
}

/*----------------
    Page 63 Start
-----------------*/
.marking-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    border: 1px solid #000;
    text-align: left;
}

.marking-table th,
.marking-table td {
    border: 1px solid #000;
    padding: 10px;
    vertical-align: top;
}

.marking-table thead th {
    font-weight: bold;
}

.temperature-protection-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    border: 1px solid #000;
    text-align: left;
}

.temperature-protection-table th,
.temperature-protection-table td {
    border: 1px solid #000;
    padding: 10px;
    vertical-align: top;
}

.temperature-protection-table thead th {
    font-weight: bold;
}

/*----------------
    Page 68 Start
-----------------*/
.reference-list {
    counter-reset: ref;
    list-style: none;
    padding-left: 0;
}

.reference-list li::before {
    counter-increment: ref;
    content: "[" counter(ref) "] ";
    position: absolute;
    left: 0;
}

.reference-list li {
    padding-left: 2.5rem;
}

.withdrawn-list {
    counter-reset: withdrawn 1;
    /* Start at 1 so first item is 2 */
    list-style: none;
    padding-left: 0;
}

.withdrawn-list li::before {
    counter-increment: withdrawn;
    content: counter(withdrawn) " ";
    position: absolute;
    left: 0;
}

.withdrawn-list li {
    padding-left: 1.5rem;
}


/*----------------
    Page 69 Start
-----------------*/
/* Table of Contents Styles */
.index-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.25rem;
}

.index-item .title {
    font-weight: 500;
    flex-shrink: 0;
}

.index-item .dots {
    flex-grow: 1;
    border-bottom: 1px dotted #1f2937;
    margin-bottom: 4px;
}

.index-item .description {
    text-align: right;
    white-space: nowrap;
    font-size: 1rem;
    flex-shrink: 0;
}